// Fonts

@font-face {
    src: url("fonts/Roboto-Light.ttf") format("truetype");
    font-family: "Roboto";
    font-weight: 400; // 300
}

@font-face {
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-family: "Roboto";
    font-weight: 500; // 400
}

@font-face {
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-family: "Roboto";
    font-weight: 600; // 500
}

// Vars

$font-stack: "Roboto";
$background-color: rgb(32, 32, 32);
$top-color: rgb(86, 88, 90);
$bot-color: rgb(86, 88, 90);
$primary: white;
$secondary: rgb(255, 200, 100);
$tertiary: rgb(100, 200, 255);

// Other

[hidden] {display: none !important}
[disabled] {pointer-events:none; opacity: 0.3}
.horizontal {display: flex; flex-direction: row; justify-content: space-between}
.vertical {display: flex; flex-direction: column}
.center {justify-content: center; align-items: center}
.flex {flex: 1}

@keyframes icon {
  0%   {left:100px;}
  100% {left:0px;}
}

$fades: 1, 2, 3, 4, 5;

@each $fade in $fades {
    #fade-#{$fade} {
        transition: opacity 1s;
        opacity: 0;
    }
}

$icons: 1, 2, 3, 4;

@each $icon in $icons {
    #icon-#{$icon} {
        animation-name: icon;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: calc(#{$icon}s / 3 + 0.25s);
    }
}

$projects: 1, 2, 3, 4, 5, 6, 7, 8;

@each $project in $projects {
    #project-#{$project} {
        margin: calc(4px + 0.4vw + 0.4vh);
        padding: calc(8px + 0.8vw + 0.8vh);
        font-size: calc(3px + 0.6vw + 0.9vh);
        transition: opacity 1s;
        opacity: 0;
        background-color: nth([#2E5699, #992E5E, #992E2E, #1F9959, #99891F, #995E2E, #995E2E, #995E2E], $project);

        h2 {
            font-size: calc(4px + 0.8vw + 1.2vh);
            line-height: 1.2;
            margin-bottom: calc(4px + 0.4vw + 0.4vh);
        }
    }
}