// Fonts

@font-face {
    src: url("fonts/Lora-Regular.ttf") format("truetype");
    font-family: "Lora";
    font-weight: 400;
}

@font-face {
    src: url("fonts/Lora-Medium.ttf") format("truetype");
    font-family: "Lora";
    font-weight: 500;
}

@font-face {
    src: url("fonts/Lora-SemiBold.ttf") format("truetype");
    font-family: "Lora";
    font-weight: 600;
}

// Vars

$font-stack: "Lora";
$background-color: #F4F4F4;
$top-color: #6BC0D5;
$bot-color: #4C5364;
$primary: white;
$secondary: orange;

// Other

[hidden] {display: none !important}
[disabled] {pointer-events:none; opacity: 0.3}
.horizontal {display: flex; flex-direction: row; justify-content: space-between}
.vertical {display: flex; flex-direction: column}
.center {justify-content: center; align-items: center}
.flex {flex: 1}

@keyframes icon {
  0%   {left:100px;}
  100% {left:0px;}
}

$fades: 1, 2, 3, 4, 5;

@each $fade in $fades {
    #fade-#{$fade} {
        transition: opacity 1s;
        opacity: 0;
    }
}

$icons: 1, 2, 3, 4;

@each $icon in $icons {
    #icon-#{$icon} {
        animation-name: icon;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: calc(#{$icon}s / 3 + 0.25s);
    }
}

$projects: 1, 2, 3, 4;

@each $project in $projects {
    #project-#{$project} {
        padding: calc(6px + 0.6vw + 0.6vh);
        font-size: calc(8px + 0.8vw + 0.8vh);
        transition: opacity 1s;
        opacity: 0;
    }
}

// Cover animation
