.row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.col-split {
    grid-column: span 6;
}

@media (min-width: 576px) {
    .col-split {
        grid-column: span 3;
    }
}

@media (min-width: 1000px) {
    .col-split {
        grid-column: span 2;
    }
}